body {
  font-family: 'Roboto Condensed', sans-serif; }

#top-area-bg {
  background-color: #C2CBCE;
  padding-bottom: 20px; }

#work-experience-bg {
  background-color: #fafafa; }
  #work-experience-bg .job .job-description {
    padding-top: 10px; }

#projects-bg .img-responsive {
  margin: 10px;
  max-width: 31%;
  float: left; }

#projects-bg .project-description {
  padding-top: 10px; }

#education-bg {
  background-color: #fafafa;
  padding-bottom: 20px; }

#footer {
  background-color: #A4BCC2;
  height: 80px; }
  #footer p {
    height: 40px; }
  #footer .container {
    height: 80px;
    line-height: 80px; }
