$top-area-bg-color: #C2CBCE;
$test-color: #fafafa;
body {
    font-family: 'Roboto Condensed', sans-serif;
}

#top-area-bg {
    background-color: $top-area-bg-color;
    padding-bottom: 20px;
}

#name-title-contact-shell {}

#name-title-contact {}

#name-title {}

#contact-info {}

// work experience 
#work-experience-bg {
    // height: 200px;
    background-color: #fafafa;
    .job {
        // background-color: $test-color;
        .job-description {
            padding-top: 10px;
        }
    }
}

// projects
#projects-bg {
    .img-responsive {
        margin: 10px;
        max-width: 31%;
        float: left;
        // max-height: 80px;
    }
    .project-description {
        padding-top: 10px;
    }
}

// education 
#education-bg {
    background-color: #fafafa;
    padding-bottom: 20px;
}

// footer
#footer {
    background-color: #A4BCC2;
    height: 80px;

	p {
		height: 40px;
	}

    .container {
    	    height: 80px; 
    		line-height: 80px;
    }
}

