$top-area-bg-color: #4355A3;
$test-color: #ababab;
#top-area-bg {
    height: 300px;
    background-color: $top-area-bg-color;
}

#name-title-contact-shell {
}

#name-title-contact {
}

#name-title {}

#contact-info {
}
